body {
    background-color: #0f0611;
    color: whitesmoke;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
#barra-de-navegacion{
    background-color: whitesmoke;
    display: flex;
    position: sticky;
    top: 0px;
    color:#0f0611;
    align-items: center;
    padding: 8px;
    text-align: center;
}
#navbar-logo{
    all:unset;
    flex-grow: 2;
    height: 2.8em;
}
#uno{
    flex-grow: 1;
}
#dos{
    flex-grow: 1;
}
#tres{
    flex-grow: 1;
}
#cuatro{
    flex-grow: 0;
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    background-color: #ac7aa4;
    width: 900px;
    margin-inline: 200px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#nombre{
    font-family:"Happy Monkey", system-ui, arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-weight: 600;
}
button{
    background-color:#ff83ea;
    color:whitesmoke;
    font-size:medium;
    padding: 10px;
    border-radius:20px;
    cursor: pointer;
    border: 3px whitesmoke solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}
button:hover{
    background-color: #c28ec9;
    color:#0f0611;
    font-size:small;
    border-radius: 40px;
}
#hacer-pedido{
    position: fixed;
    right: 15px;
}
.tarjeta{
    background-color: #9700dd;
    padding: 10px;
    border-radius: 20px;
    box-sizing:border-box;
    width: 600px;
    margin-bottom: 40px;
    font-size: large;
}
img{
    width: 200px;
    height:220px;
    border:3px #0f0611 solid;
    position: center;
    position: relative;
    left: 28px;
}
.info{
    color:whitesmoke;
    font-weight: 100;
    font-style: normal;
    font-weight:900;
    font-size: larger;
    position: relative;
    left:28px;
}
.precios{
    color:whitesmoke;
    font-family:"Rubik Gemstones", system-ui, arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1200;
    font-style: normal;
    font-size: xx-large;
    font-style: oblique;
    position: relative;
    left:28px;
}
#redes-sociales{
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    box-sizing:border-box;
    width: 400px;
    margin-bottom: 40px;
    font-size: medium;
    background-color:#ac7aa4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    justify-content: center;
}
#contenedor-de-tarjetas-tradicional{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#contenedor-de-tarjetas-digital{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#contenedor-tarjeta-redes{
    display: flex;
    justify-content: center;
    align-content: center;
}
footer{
    font-size: small;
    z-index:1;
}
.cookie{
    position:fixed; left:0; right:0; bottom:0;
    background: whitesmoke;
    z-index:1000;
    color:#0f0611;
}
