body {
    background-color: #0f0611;
    color: whitesmoke;
    font-size:larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 200;
}
#barra-de-navegacion{
    background-color: whitesmoke;
    display: flex;
    position: sticky;
    top: 0px;
    color:#0f0611;
    align-items: center;
    padding: 1.5px;
    text-align: center;
    gap: 20px;
}
#navbar-logo{
    all:unset;
    flex-grow: 2;
    height: 2.8em;
    margin: 2px;
}
#menu-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
}
#uno{
    flex-grow: 1;
}
#dos{
    flex-grow: 2;
}
#tres{
    flex-grow: 2;
}
#cuatro{
    flex-grow: 1;
}
#menu-hamburguesa{
    display: none;
}
#menu-icon{
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 10px;
}
header{
    text-align: center;
}
h1{
    display: inline-block;
    text-align: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    font-weight: lighter;
    background-color: #ac7aa4;
    position: relative;
    padding: 8px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
}
#nombre{
    font-family:"Happy Monkey", system-ui, arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 3px;
    font-weight: 600;
}
button{
    background-color:#ff83ea;
    color:whitesmoke;
    font-size:medium;
    padding: 10px;
    border-radius:20px;
    cursor: pointer;
    border: 3px whitesmoke solid;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
}
button:hover{
    background-color: #c28ec9;
    color:#0f0611;
    font-size:small;
    border-radius: 40px;
}
#hacer-pedido{
    position: fixed;
    top: 60px;
    right: 15px;
    z-index: 300;
}
.tarjeta{
    background-color: #9700dd;
    padding: 10px;
    border-radius: 20px;
    box-sizing:border-box;
    width: 600px;
    margin-bottom: 40px;
    font-size: large;
}
img{
    width: 200px;
    height:220px;
    border:3px #0f0611 solid;
    position: center;
    position: relative;
    left: 28px;
}
.info{
    color:whitesmoke;
    font-weight: 100;
    font-style: normal;
    font-weight:900;
    font-size: larger;
    position: relative;
    left:28px;
    flex-wrap: wrap;
}
.precios{
    color:whitesmoke;
    font-family:"Rubik Gemstones", system-ui, arial, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 1200;
    font-style: normal;
    font-size: xx-large;
    font-style: oblique;
    position: relative;
    left:28px;
}
#redes-sociales{
    color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
    box-sizing:border-box;
    width: 400px;
    margin-bottom: 40px;
    font-size: medium;
    background-color:#ac7aa4;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:500;
    justify-content: center;
}
#contenedor-de-tarjetas-tradicional{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#contenedor-de-tarjetas-digital{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
#contenedor-tarjeta-redes{
    display: flex;
    justify-content: center;
    align-content: center;
}
footer{
    font-size: small;
    z-index:1;
}
.cookie{
    position:fixed; left:0; right:0; bottom:0;
    background: whitesmoke;
    z-index:1000;
    color:#0f0611;
}
@media (max-width:768px){
    body{
    font-size: medium;
    }
    #barra-de-navegacion{
    background-color: whitesmoke;
    display:flex;
    position: relative;
    top: 0px;
    color:#0f0611;
    align-items: center;
    padding: 8px;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: max-content;
    gap:10px;
    }
    #menu-links{
    display: none;
    position: absolute;
    top: 100%;
    left:0;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 6px;
    }
    #menu-hamburguesa:checked~#menu-links{
    display: flex;
    flex-direction: column;
    gap:6px;
    }
    #menu-hamburguesa:checked~#menu-links a{
    display: block;
    }
    #menu-links a{
    display: none;
    padding: 8px 14px;
    width: max-content;
    }
    #navbar-logo{
    flex-grow: 0;
    }
    #menu-icon{
    display: block;
    font-size: 1.7rem;
    cursor: pointer;
    }
    #barra-de-navegacion a{
    display: none;
    }
    #menu-hamburguesa:checked~a{
    display: block;
    position: absolute;
    top:100%;
    left:0;
    width:max-content;
    background-color: whitesmoke;
    padding: 10px 16px;
    margin-top: 6px;
    border-radius: 6px;
    z-index: 100;
    }
    #menu-hamburguesa:checked~a+a{
    margin-top: 6px;
    }
    #barra-de-navegacion a:not(:last-child){
    border-bottom: 2px whitesmoke;
    }
    #contenedor-de-tarjetas-tradicional{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
     }
    h1{
    font-size: 3em;
    }
    h3{
    font-size: 1em;
     }
    .tarjeta{
    width: 420px;
    padding: 0px;
     }
    img{
    width: 180px;
    height:180px;
    border:2px #0f0611 solid;
    position: center;
    position: relative;
    left: 28px;
     }
    .info{
    flex-wrap: wrap;
    font-size: medium;
    letter-spacing: 0.15px;
     }
    #hacer-pedido{
    display: none;
    }
}